.fl {
    float: left;
}

.box {
    width: 800px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

.box button {
    padding: 0 10px;
    margin: 0 10px;
    height: 40px;
    float: left;
    cursor: pointer;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}

.box button:hover {
    color: #ed593f;
}

.box .first-page,
.box .last-page {
    margin: 0;
}

.box .pageWrap {
    height: 40px;
    float: left;
    overflow: hidden;
}

.box .pageWrap ul {
    width: 100000px;
    height: 40px;
    float: left;
}

.box .pageWrap ul li {
    width: 60px;
    height: 40px;
    border: 1px solid #ebebeb;
    line-height: 36px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    user-select: none;
}

.box .pageWrap ul li:hover {
    border-bottom: 2px solid #ed593f;
}

.box .pageWrap ul .sel-page {
    color: #ed593f;
    border: 2px solid #ed593f;
}

.box .jump-text {
    width: 60px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 5px;
    float: left;
}

.box .jump-button {
    margin: 0;
    float: left;
}

.box .total-pages,
.box .total-count {
    margin-left: 10px;
    float: left;
    font-size: 14px;
}

.box .total-count #total-count {
    font-size: 18px;
    padding: 0 5px;
    color: #ed593f;
}