<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanchengwlkj.zcWebBoot.dao.AdDao">

    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!-- 执行获取账号和数据源匹配登录 -->
    <select id="findAdListByType" resultType="com.zhanchengwlkj.zcWebBoot.modal.Ad">
		SELECT
			a.*
		FROM
			zc_ad a
		WHERE
			a.menu_id in (select m.id from zc_ad_menu m where m.menu_type=#{type})
		AND
			a.city LIKE #{city}
		and
			a.status = 1
		ORDER BY
		    a.sort DESC
	</select>







</mapper>