<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanchengwlkj.zcWebBoot.dao.ProductTypeDao">

    <!-- 目的：为dao接口方法提供sql语句配置 -->


	<!-- 执行获取账号和数据源匹配登录 -->
	<select id="findProductTypeListByPid" resultType="com.zhanchengwlkj.zcWebBoot.modal.Menu">
		SELECT
			*
		FROM
			zc_menu
		WHERE
			pid = #{0}
		ORDER BY
		    sort DESC
	</select>







</mapper>